<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="album-card" *ngFor="let album of albums">
    <mat-card-header>
      <mat-card-title>{{album.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="album.coverPreview" alt="Album cover">
    <mat-card-content>
      <p>
        {{album.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>


<button mat-fab color="accent" bottom-right (click)="openAddAlbumDialog()">
  <mat-icon aria-label="Add new album">library_add</mat-icon>
</button>
